@model Web.Models.SearchViewModel
@{
    ViewData["Title"] = "Html to words - Search";
}

<div class="row">
    <div class="search">
        <form id="searchForm" action="javascript:void(0);" method="POST" onsubmit="search();" class="form-horizontal">
            <div class="form-group">
                <label asp-for="URL" class="col-sm-2 sr-only"></label>
                <div class="col-sm-8 col-sm-offset-2">
                    <input asp-for="URL" class="form-control" placeholder="URL" />
                    <span></span>
                    <span asp-validation-for="URL"></span>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <a id="btnSearch" class="btn btn-primary btn-block center-block">Search</a>
        </form>

    </div>
</div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8"><div id="demo" class="jqcloud"></div></div>
    <div class="col-sm-4"></div>
</div>