@model Dictionary<string, int>
@{
    ViewData["Title"] = "Html to words - Search";
}

<div class="row">
    <div class="search">
        <div id="demo" class="jqcloud"></div>      
    </div>
</div>
