<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Html to Words</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/jqcloud2/dist/jqcloud.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav"></ul>

                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />


    <div class="container body-content">
        @RenderBody()
        <footer class="navbar-fixed-bottom">
            <p>&copy; 2018 - Html to Words</p>
        </footer>
    </div>

    <script data-main="/js/config.js" src="/lib/requirejs/require.js"></script>

    @RenderSection("Scripts", required: false)

    <div id="loading-div-background">
        <div id="loading-div" class="ui-corner-all">
            <h4>Building Dictionary, Please wait....</h4>
        </div>
    </div>

</body>
</html>
